@font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;

    src: local("Epilogue-Medium"),
    url("../Fonts/Epilogue-Medium.ttf") format("ttf");
}

* {
    padding: 0;
    margin: 0;
}


.mobile-header, .mobile-preview, .mobile-latest-work, .mobile-logos {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


p {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;

    color: #2D2D2D;
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;

    color: #2B2B2B;
}

button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 82px;
    gap: 10px;
    color: white;
    max-width: 235px;

    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    /* Black */

    background: #2D2D2D;
}


.header-nav {
    display: flex;
    justify-content: space-between;
}


.logo p {
    font-family: Epilogue, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.nav-menu {
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    gap: 30px;
    display: flex;
}

.nav-menu > p > a {
    text-decoration: none;
    color: #2D2D2D;
}

header {
    padding: 25px 50px;
    gap: 10px;
}


.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background: #F9E6F0;
}

.header {
    padding: 120px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;

    max-width: 780px;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    max-width: 195px;
}

.persona > img {
    outline: solid #2D2D2D 1.5px;
}

.persona > p > strong {
    font-weight: 700;
    text-decoration-line: underline;
    color: #2D2D2D;
}


.main-info > p {
}

main {
    padding: 120px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;

    max-width: 880px;
}

.text > h2 {
    max-width: 880px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    max-width: 880px;
}

.main-text > p {
    margin: 0;
    padding: 10px 0;
    color: #2B2B2B;
}

.main-text > p:nth-child(1), .main-text > p:nth-child(3) {
    width: 100%;
    color: #F6DCE9;
    background-color: #009379;
}

footer {
    padding: 20px;
    /*border: 1px solid red;*/
    gap: 10px;


}

.footer-info {
    border-top: 2px solid #80808024;
    display: flex;
    padding: 70px 0;
    gap: 190px;
}

.social-icons img {
    margin-right: 10px;
}

.footer-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 360px;
}

.footer-message > h1 {
    max-width: 360px;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #2D2D2D;
}

.footer-message > p {
    max-width: 360px;

    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;


    color: #2D2D2D;
}

.contact-info {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 60px;
    max-width: 540px;
}

.text-fields {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 513px;
}

.footer-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 360px;
    margin-bottom: 60px;
}

.social-icons img {
    margin-right: 20px;
}


.fields > .text-input:last-child > input {
    margin-bottom: 0;
}

.fields {
    width: 100%;
}

.text-input > input {
    width: 90%;
    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
}

.text-input > textarea {
    width: 90%;
    max-width: 513px;
    height: 222px;
    padding: 3% 10%;
    padding-right: 0;

    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
    border: none;
    background-color: #F3F3F3;
    resize: none;
}

.text-fields {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 513px;
}

.text-input > input {
    padding: 3% 10%;
    padding-right: 0;
    margin-bottom: 20px;
    border-color: #F3F3F3;
    background-color: #F3F3F3;
    border-style: none;
    height: 40px;
}

@media screen and (max-width: 1100px) {
    main {
        padding: 120px 90px;
    }
}


@media screen and (max-width: 800px) {
    .nav-menu {
        display: none;
    }

    footer{
        padding: 0;
    }

    .header {
        flex-direction: column;
        padding: 120px 30px;
        align-items: normal;
    }

    .body-text {
        padding: 120px 30px 120px 30px;
    }

    .body-text > .main-text p {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-info {
        border: none;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px 70px 30px;
        gap: 80px;
    }

    main {
        padding:0px;
    }

    .footer-message{
        margin-bottom: 0;
    }

    .footer-message > h1{
        margin-bottom: 10px;
        width: 99%;
    }

    .social-icons{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .contact-info{
        border-top: 2px solid #80808024;
        padding-top: 70px;
    }
}


