@font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;

    src: local("Epilogue-Medium"),
    url("../Fonts/Epilogue-Medium.ttf") format("ttf");
}

/*@media screen and ()*/

* {
    padding: 0;
    margin: 0;
}

h1,h2{
    font-family: 'Epilogue',sans-serif;
}

p{
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
}


.mobile-header, .mobile-preview, .mobile-latest-work, .mobile-logos {
    display: none;
}

.main-info {
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}


.logo {
    font-family: Epilogue, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.nav-menu {
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    gap: 30px;
    display: flex;
}

.nav-menu > p > a {
    text-decoration: none;
    color: #2D2D2D;
}

header {
    padding: 25px 50px;
    gap: 10px;
}

.main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
    padding: 50px;
}


.main-info > .text-about {
    flex-direction: column;
    align-items: flex-start;
    max-width: 557px;
    gap: 40px;
}

.header-text > h3 {
    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.header-text > h1 {
    max-width: 557px;
    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 80px;
    line-height: 90px;
    padding: 40px 0;
}

.header-text > p {
    font-size: 17px;
}

.skill > .text-about > p {
    font-weight: 400;
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    line-height: 27px;
}


.logos-section {
    padding: 0px 100px;
}

.logos {
    padding: 60px 0;
    justify-content: space-between;
    border-top: 2px solid rgba(128, 128, 128, 0.29);
    border-bottom: 2px solid rgba(128, 128, 128, 0.29);
    max-width: 1078px;
    align-items: center;
    display: flex;
}

.logos img:last-of-type {
    margin-right: 0;
}

.skills-section {
    padding: 180px 140px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 125px;
}

.skill {
    width: 33%;
    gap: 56px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skill > .headline-subhead h1{
    font-family: 'Epilogue', sans-serif;
    font-size: 27px;
    margin-bottom: 19px;
}


.latest-work-section {
    padding: 20px 100px;
}

.latest-work-section > .desktop-latest-work > h1 {
    font-family: Epilogue, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 60px;
}

.work-cards {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1080px;
    gap: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-card > .text-about p, h2 {
    margin: 15px 0;
}

.work-card > .text-about p {
    font-weight: 400;
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    line-height: 27px;
}

.h1-clients{
    text-align: center;
    padding-bottom: 55px;
}

.work-card > .text-about h2 {
    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.stripe-1, .stripe-2 {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.clients-section {
    padding: 100px 100px 150px 100px;
}

.client-cards {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    max-width: 1080px;
}

.clients-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 41.5px;

}

.client-card {
    background-color: rgba(255, 255, 0, 0.13);
    max-width: 243px; /* вопрос */
    padding: 30px 35px 30px 35px;
    gap: 10px;
    border: 2px solid rgba(220, 193, 53, 0.47);
}

.client-card > p {
    font-size: 20px;
    font-weight: 600;
    font-family: Epilogue, sans-serif;
    line-height: 30px;
}

.rate > p {
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}

.client-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

footer {
    padding: 20px;
    gap: 10px;


}

.footer-info {
    display: flex;
    border-top: 2px solid rgba(128, 128, 128, 0.29);
    padding: 70px 0;
    gap: 190px;
}

.social-icons img {
    margin-right: 10px;
}

.footer-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 360px;
    height: 217px;

}

.footer-message > h1 {
    max-width: 360px;
    height: 42px;

    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #2D2D2D;
}

.footer-message > p {
    max-width: 360px;
    height: 135px;

    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;


    color: #2D2D2D;
}


.contact-info {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 60px;
    max-width: 540px;
    height: 313px;
}

.text-fields {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 513px;
    height: 529px;
}

.text-input > input {
    padding: 3% 10%;
    padding-right: 0;
    margin-bottom: 20px;
    border-color: #F3F3F3;
    background-color: #F3F3F3;
    border-style: none;
    height: 40px;
}


.fields > .text-input:last-child > input {
    margin-bottom: 0;
    height: 150px;
}

.fields {
    width: 100%;
}

.text-input{
    width: auto;
}

.text-input > input {
    width: 90%;
    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
}

.text-input > textarea {
    width: 90%;
    max-width: 513px;
    height: 222px;
    padding: 3% 10%;
    padding-right: 0;

    font-weight: 600;
    font-family: Epilogue, sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
    border: none;
    background-color: #F3F3F3;
    resize: none;
}

.text-fields > button {
    padding: 25px 82px;
    border-style: none;
    color: white;
    font-weight: 500;
    font-family: "Epilogue", sans-serif;
    font-size: 17px;
    background-color: #222222;
}


@media screen and (max-width: 1100px) {
    .main-info > img {
        width: 50%;
    }

    .header-text > h1 {
        max-width: 557px;
        font-weight: 600;
        font-family: Epilogue, sans-serif;
        font-size: 60px;
        line-height: normal;
        padding: 20px 0;
    }

    .work-card img{
        width: 100%;
    }

    .work-card > .headline-subhead h2{
        font-size: 20px;
    }

    .work-card > .headline-subhead p{
        font-size: 17px;
    }

    .client-card > p {
        font-size: 16px;
        font-weight: 600;
        font-family: Epilogue, sans-serif;
        line-height: 30px;
    }

    .client-card{
        width: 33%;
        padding: 15px;
    }

    .rate > p {
        font-family: Epilogue, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        margin: 0;
    }

    .clients-section{
        padding: 50px 50px 150px 50px;
    }
}

@media screen and (max-width: 800px) {

    .nav-menu{
        display: none;
    }

    .header-text > h1 {
        max-width: 557px;
        font-weight: 600;
        font-family: Epilogue, sans-serif;
        font-size: 32px;
        padding: 10px 0;
    }

    .main-info{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    header{
        padding: 20px;
    }

    .header-text > p {
        font-weight: 400;
        font-family: Epilogue, sans-serif;
        font-size: 14px;
    }

    .header-text > h3 {
        font-weight: 600;
        font-family: Epilogue, sans-serif;
        font-size: 17px;
    }

    .logos{
        flex-wrap: wrap;
        gap: 35px;
        justify-content: space-around;
    }

    .logos-section {
        min-width: 242px;
        padding: 0px 20px;
    }

    .skills{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skills-section{
        padding: 150px 20px;
    }

    .skill{
        width: 100%;
    }

    .stripe-1, .stripe-2{
        flex-direction: column;
    }


    .clients-section{
        padding:  60px 30px 90px 30px;
    }

    .clients-cards{
        padding: 0 30px;

        flex-direction: column;
        align-items: center;
    }

    .client-card{
        padding: 30px 35px 30px 35px;
        width: 100%;
    }

    .client-card > p{
        padding-bottom: 80px;
    }

    .footer-info{
        flex-direction: column;
        align-items: center;
        padding: 70px 30px;
        gap: 80px;
    }

    .latest-work-section{
        padding: 20px;
    }

    footer{
        padding: 0;
    }
}